@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #001f3f;
  --dark: #001225;
  --light: #002f4b;
  --foreground: #ededed;
  --wrong: #d40b0b;
  --green: #07840b;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #001f3f;
    --dark: #001225;
    --light: #002f4b;
    --foreground: #ededed;
    --wrong: #d40b0b;
    --green: 07840b;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
